<div class="grid">
    <details >
        <summary>Epcot Center</summary>
        <div> <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
        </div>
       
      </details>
      <details >
        <summary >Epcot Center</summary>
        <div>
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
      </div>
      
      </details>
      <details >
        <summary >Epcot Center</summary>
        <div>
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
      </div>
      </details>
      <details >
        <summary >Epcot Center</summary>
        <div>
        <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
      </div>
      </details>
    </div>

    
<style>
	details {
		@apply transition-all mb-1px  ;
	}
  details[open] {
		@apply transition-all mb-1px  ;
	}
	details div{
		@apply bg-mi-surf p-6 ;  ;
	}
	summary{
		@apply bg-mi-link p-6 text-mi-surf   ;
	}
</style>