
<div class="fixed top-14 right-0 z-2">
    <span class="theme-btn bg-white" name-theme="light" ></span>
    <span class="theme-btn bg-black" name-theme="dark" ></span>
    <span class="theme-btn bg-orange" name-theme="salmon" ></span>
</div>
<style>
    .theme-btn{
        @apply block w-2 h-8 cursor-crosshair ;
    }
</style>