---

import MainMenu from "./theme/MainMenu.astro";
---

<footer id="contacto" class="seccion-base contrast w-full">
    <div class="container">
        <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-12">

        
            <div class="py-4 md:py-8 lg:py-16 ">
                <h3>Contáctenos</h3>
                <p>
                    Envíenos un mensaje si requiere de mayor información acerca de nuestros servicios, con gusto un agente especializado los atenderá para proporcionarle nuestra gama de soluciones y servicios. 
                </p>
            </div>
            
            <div class="py-4 md:py-8 lg:py-16">
                <h5>Servicios</h5>
                <MainMenu class="footer-class" />
            </div>
          
        </div>
    </div>
</footer>

<p class="text-center w-86% mx-auto py-8">
    <span>STAND</span>OUT | STANDS & STAGES ® TODOS LOS
    DERECHOS RESERVADOS
</p>
<div class="bg-brand-base sm:bg-black md:bg-brand-red lg:bg-brand-gray xl:bg-brand-base h-2" ></div>

<style>
    h5{
        @apply mb-4; 
    }
</style>